* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
  }

  body {
    color: gray;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    background-color: #fff;
  }
  
  header {
    background-image: url("../images/Fushia-background.jpg");
    height: 12rem;
    width: 100%;
    margin: 0;
  
  }
  
  header h1 {
    font-family: 'Raleway', Sans-Serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: hsl(31, 64%, 82%);
    padding: 1rem;
    display: inline-block;
    float: left;
    margin: 2rem 8rem 2rem 4rem; 
   
   
   
  }

  h2 {
      font-family: 'Raleway', Sans-serif;
      font-size: 3rem;
      font-weight: 800;
      padding: 1rem;
      margin: 2rem 4rem;
  }


  
  
  nav li {
    font-family: 'Open Sans', Sans-Serif;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    color:  white;
    float: left;
    margin-top: 3.5rem;
 

    
  }



  a {
      color:  white;
      text-decoration: none;
      text-transform: uppercase;
      
  }

  a:hover {
      color: #D67BA8;
  }
  
  a:visited {
      text-decoration: underline;
      color: #D67BA8;


  }

  /* Color boxes */

  #colors div {
    height: 12rem;
    width: 12rem;
    text-align: center;
    border: 5px solid gray;
    padding: 3rem;
    margin: 2rem;
    color: #fff;
    display: inline-block;
   
}

#colors div p {
    font-family: "Open sans";
    font-size: 20px;
    font-weight: 400;
   
}
      
  .fushia-box {
      background-color: hsl(324, 82%, 41%);
  }

  .swamp-box {
      background-color: hsl(52, 82%, 24%);
  }
  
  .burgandy-box {
      background-color: hsl(324, 100%, 22%);
  }

  .teal-box {
      background-color: hsl(184, 82%, 24%);
  }

  .blue-green-box {
      background-color: hsl(184, 91%, 39%);
  }
  
  
  /* Colours to use
  hsl(324, 82%, 41%) - fushia,
      hsl(52, 82%, 24%) - swamp green,
        hsl(324, 100%, 22%) - burgandy purple,
          hsl(184, 82%, 24%) - teal,
            hsl(184, 91%, 39%) - light blue-green, */
  
  /* Font I want to use;
  Font-Family: 'Raleway', Sans-Serif;
  Font-Size: 44px;
  
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px; */
  