* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
  }

  body {
    color: gray;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    background-color: #fff;
  }
  
  header {
    background-image: url("../images/Fushia-background.jpg");
    background-color: hsl(324, 82%, 41%);
    background-blend-mode: multiply;
    height: 12rem;
    width: 100%;
    margin: 0;
  
  }
  
  header h1 {
    font-family: 'Raleway', Sans-Serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: hsl(31, 64%, 82%);
    padding: 1rem;
    display: inline-block;
    float: left;
    margin: 2rem 8rem 2rem 4rem; 
   
   
   
  }

  #fonts h2, #colors h2 {
      font-family: 'Raleway', Sans-serif;
      font-size: 3rem;
      font-weight: 800;
      padding: 1rem;
      margin: 2rem 4rem;
      color: black;
      display: block;
      
  }

  h3 {
    font-size: 2.5rem;
    margin-left: 8rem;
  }


  
  
  nav li {
    font-family: 'Open Sans', Sans-Serif;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    color:  white;
    float: left;
    margin-top: 3.5rem;
 

    
  }



  a {
      color:  white;
      text-decoration: none;
      text-transform: uppercase;
      
  }

  a:hover {
      color: #D67BA8;
  }
  
  a:visited {
      text-decoration: underline;
      color: #D67BA8;


  }

  div {
    margin-bottom: 4rem;
  }

  .open-sans-style p {
    font-family: "Open Sans";
    margin-left: 8rem;
    font-size: 2rem;
    

  }

  .raleway-style p {
    font-family: "Raleway";
    margin-left: 8rem;
    font-size: 2rem;
  }

  .raleway-style h3 {
    font-family: Raleway;
    text-decoration: underline;
  }

  .open-sans-style h3 {
    font-family: "Open Sans";
    text-decoration: underline;
  }

 

  /* Color boxes */

  #colors div {
    height: 12rem;
    width: 12rem;
    text-align: center;
    border: 5px solid gray;
    padding-top: 3rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 2rem;
    color: #fff;
    display: inline-block;
   
}

#colors div p {
    font-family: "Open sans";
    font-weight: 400;
    color: hsl(31, 64%, 82%);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
   
}
      
  .fushia-box {
      background-color: hsl(324, 82%, 41%);
      margin-left: 8rem !important;
  }

  
  .burgandy-box {
      background-color: hsl(324, 100%, 22%);
  }

  .teal-box {
      background-color: hsl(184, 82%, 24%);
  }

  .blue-green-box {
      background-color: hsl(184, 91%, 39%);
  }

  h1 {
    font-family: 'Raleway', Sans-Serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin-left: 2rem;
    color: hsl(184, 82%, 24%);
  }

  h2 {
    font-family: 'Raleway', Sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 2rem;
    color: hsl(324, 82%, 41%);

  }
  
  #text-styles {
    font-family: "Open sans";
    font-weight: 400;
    margin-left: 2rem;
    color: hsl(184, 91%, 39%) !important;
  }
  
  .subheading-styles, .paragraph-styles, .heading-styles {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin: 0;
  }

  #text-styles li {
    margin-left: 4rem;
  }

  #text-styles h2 {
    color: black;
  }

  .subheading-styles h2 {
    color: hsl(324, 82%, 41%) !important;
  }

  .paragraph-styles p {
    color: black;
    margin-left: 2rem;
    font-weight: bold;
  }

  footer {
    float: right;
    padding: 2rem;
  }

  